body {
  width: 100vw;
  height: 100%;
  font-family: arial;
  color: #fff;
  font-size: 1rem;
  line-height: 1.6em;
  background-image: url("../../img/question-mark.jpg");
  background-position: center;
  background-size: cover;
}

body:before {
  content: '';
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 0.2rem solid #f4f4f4;
  text-align: center;
}

header .container-header h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}

header .container-header .back-home {
  color: #fff;
  background: #22626d;
  border: 0.1rem dotted #ccc;
  border-radius: 1rem;
  padding: 0.5rem 0.9rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

main {
  width: 100vw;
  height: 100%;
}

main label {
  display: inline-block;
  width: 15rem;
}

main input[type='text'] {
  width: 70%;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: solid 0.1rem #ccc;
}

main input[name='choice1'],
main input[name='choice2'],
main input[name='choice3'],
main input[name='choice4'],
main input[name='choice5'] {
  width: 50%;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: solid 0.1rem #ccc;
}

main input[type='number'] {
  width: 3rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: solid 0.1rem #ccc;
}

main .container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

main .container #submit {
  color: #fff;
  background: #22626d;
  border: 0.1rem dotted #ccc;
  border-radius: 1rem;
  padding: 0.5rem 0.9rem;
  position: absolute;
  right: 0;
  font-size: 1.3rem;
  outline: none;
  text-decoration: none;
}

main .container .add-question {
  color: #fff;
  background: #22626d;
  border: 0.1rem dotted #ccc;
  border-radius: 1rem;
  padding: 0.5rem 0.9rem;
}

main .container .current {
  padding: 0.6rem;
  margin: 1.2rem 0 0.7rem 0;
}

main .container .question {
  padding: 0.6rem;
  padding-left: 2rem;
  margin: 1.2rem 0px 0.7rem;
}

main .container .choices {
  width: auto;
  padding-left: 1rem;
}

main .container .choices li {
  line-height: 2.5rem;
}

main .container .qst-details {
  border: solid 0.1rem #22626d;
  border-radius: 1rem;
  width: 20rem;
}

main .container .qst-details label {
  margin: 1rem;
  width: auto;
}

main .container .qst-details input {
  width: 10rem;
}

main .container .qst-details .start-btn {
  display: block;
  color: #fff;
  background: #22626d;
  border: 0.1rem dotted #ccc;
  border-radius: 1rem;
  padding: 0.3rem 0.9rem;
  text-decoration: none;
  outline: none;
  margin: 1rem;
  width: 5rem;
}

main .container .qst-details .start-btn :hover{
  cursor: pointer;
}

main .container .qst-details .error-name{
  display: block;
  font-size: .7rem;
}

main .container-ranking {
  border: solid 0.2rem #22626d;
  border-radius: 1rem;
  position: absolute;
  top: 1rem;
  right: 0;
  width: auto;
  padding: 1rem;
}

main .container-ranking ol li {
  list-style-type: decimal;
  line-height: 2rem;
}
main .container-ranking ol li strong{
  margin-left: 1rem;
}

footer {
  border-top: 0.2rem solid #f4f4f4;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}
